<!--Aqui vamos a colocar las ventanas emergentes etc y las llamaremos con promises-->

<div id="mensajeError" class="toast toast-error">
    <p>Por favor, complete ambas firmas.</p>
</div>

<div id="mensajeErrorDocumento" class="toast toast-error">
    <p>El número de documento no existe.</p>
</div>

<div id="mensajeEspera" class="toast toast-warning">
    <p>Validando datos, por favor espere...</p>
</div>


<div id="mensajeAfirmativo" class="toast toast-success">
    <p>¡Datos validados con éxito!</p>
</div>